**TRANSFORMACIONES**

In [2]:
import pandas as pd

1- Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

Primero cargamos los archivos .cvs como dataframe con pandas

In [ ]:
df_amazon_prime = pd.read_csv('./dataset/amazon_prime_titles.csv',delimiter = ',',encoding = "utf-8")
df_amazon_prime.head(10)

In [ ]:
df_disney_plus = pd.read_csv('./dataset/disney_plus_titles.csv',delimiter= ',', encoding = "utf-8" )
df_disney_plus.head(10)

In [ ]:
df_hulu = pd.read_csv('./dataset/hulu_titles.csv',delimiter= ',', encoding = "utf-8" )
df_hulu.head(10)

In [ ]:
df_netflix = pd.read_csv('./dataset/netflix_titles.csv',delimiter= ',', encoding = "utf-8" )
df_netflix.head(10)

In [ ]:
df_rating1 = pd.read_csv('./dataset/rating/1.csv',delimiter = ',',encoding = "utf-8")
df_rating1.head(10)

In [ ]:
df_rating2 = pd.read_csv('./dataset/rating/2.csv',delimiter = ',',encoding = "utf-8")
df_rating2.head(10)

In [ ]:
df_rating3 = pd.read_csv('./dataset/rating/3.csv',delimiter = ',',encoding = "utf-8")
df_rating3.head(10)

In [ ]:
df_rating4 = pd.read_csv('./dataset/rating/4.csv',delimiter = ',',encoding = "utf-8")
df_rating4.head(10)

In [ ]:
df_rating5 = pd.read_csv('./dataset/rating/5.csv',delimiter = ',',encoding = "utf-8")
df_rating5.head(10)

In [ ]:
df_rating6 = pd.read_csv('./dataset/rating/6.csv',delimiter = ',',encoding = "utf-8")
df_rating6.head(10)

In [ ]:
df_rating7 = pd.read_csv('./dataset/rating/7.csv',delimiter = ',',encoding = "utf-8")
df_rating7.head(10)

In [ ]:
df_rating8 = pd.read_csv('./dataset/rating/8.csv',delimiter = ',',encoding = "utf-8")
df_rating8.head(10)

Generamos el campo id de cada dataframe de plataforma

In [ ]:
df_amazon_prime.insert(loc=0, column='id', value='a' + df_amazon_prime['show_id'].astype(str))
df_amazon_prime.head()

In [ ]:
df_disney_plus.insert(loc=0, column='id', value='d' + df_disney_plus['show_id'].astype(str))
df_disney_plus.head()

In [ ]:
df_hulu.insert(loc=0, column='id', value='h' + df_hulu['show_id'].astype(str))
df_hulu.head()

In [ ]:
df_netflix.insert(loc=0, column='id', value='n' + df_netflix['show_id'].astype(str))
df_netflix.head()

2- Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

In [19]:
df_amazon_prime.fillna(value={'rating': 'G'}, inplace=True)

In [20]:
df_disney_plus.fillna(value={'rating': 'G'}, inplace=True)

In [21]:
df_hulu.fillna(value={'rating': 'G'}, inplace=True)

In [22]:
df_netflix.fillna(value={'rating': 'G'}, inplace=True)

In [ ]:
# Verificacion de nulos
df_amazon_prime['rating'].isnull().sum()
df_disney_plus['rating'].isnull().sum()
df_hulu['rating'].isnull().sum()
df_netflix['rating'].isnull().sum()

3- De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [23]:
# se seleciona la columna del dataframe y con la funcion to_datetime cambiamos el formato
# dentro del to_datetime()
df_amazon_prime['date_added'] = pd.to_datetime(df_amazon_prime['date_added'].astype(str), format='%B %d, %Y')

In [24]:
df_disney_plus['date_added'] = pd.to_datetime(df_disney_plus['date_added'].astype(str), format='%B %d, %Y')

In [25]:
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'].astype(str), format='%B %d, %Y')

In [26]:
# antes de convertir al formato pedido se elimino el espacio en blanco de cada texto de la columna 'date_added'
df_netflix['date_added'] = df_netflix['date_added'].str.lstrip() 

df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'].astype(str), format='%B %d, %Y')

In [ ]:
df_rating1['timestamp'] = pd.to_datetime(df_rating1['timestamp'],unit='s').dt.strftime('%Y-%m-%d')
df_rating1['timestamp'] = pd.to_datetime(df_rating1['timestamp'])
df_rating1.head()

In [ ]:
df_rating2['timestamp'] = pd.to_datetime(df_rating2['timestamp'],unit='s').dt.strftime('%Y-%m-%d')
df_rating2['timestamp'] = pd.to_datetime(df_rating2['timestamp'])
df_rating2.head()

In [ ]:
df_rating3['timestamp'] = pd.to_datetime(df_rating3['timestamp'],unit='s').dt.strftime('%Y-%m-%d')
df_rating3['timestamp'] = pd.to_datetime(df_rating3['timestamp'])
df_rating3.head()

In [ ]:
df_rating4['timestamp'] = pd.to_datetime(df_rating4['timestamp'],unit='s').dt.strftime('%Y-%m-%d')
df_rating4['timestamp'] = pd.to_datetime(df_rating4['timestamp'])
df_rating4.head()

In [ ]:
df_rating5['timestamp'] = pd.to_datetime(df_rating5['timestamp'],unit='s').dt.strftime('%Y-%m-%d')
df_rating5['timestamp'] = pd.to_datetime(df_rating5['timestamp'])
df_rating5.head()

In [ ]:
df_rating6['timestamp'] = pd.to_datetime(df_rating6['timestamp'],unit='s').dt.strftime('%Y-%m-%d')
df_rating6['timestamp'] = pd.to_datetime(df_rating6['timestamp'])
df_rating6.head()

In [ ]:
df_rating7['timestamp'] = pd.to_datetime(df_rating7['timestamp'],unit='s').dt.strftime('%Y-%m-%d')
df_rating7['timestamp'] = pd.to_datetime(df_rating7['timestamp'])
df_rating7.head()

In [ ]:
df_rating8['timestamp'] = pd.to_datetime(df_rating8['timestamp'],unit='s').dt.strftime('%Y-%m-%d')
df_rating8['timestamp'] = pd.to_datetime(df_rating8['timestamp'])
df_rating8.head()

In [ ]:
#Verificacion de cambio de formato
df_amazon_prime.head()
#df_disney_plus.head()
#df_hulu.head()
#df_netflix.head()

4- Los campos de texto deberán estar en **minúsculas**, sin excepciones

In [ ]:
df_amazon_prime = df_amazon_prime.applymap(lambda x: x.lower() if type(x) == str else x)
df_amazon_prime.head()

In [ ]:
df_disney_plus = df_disney_plus.applymap(lambda x: x.lower() if type(x) == str else x)
df_disney_plus.head()

In [ ]:
df_hulu = df_hulu.applymap(lambda x: x.lower() if type(x) == str else x)
df_hulu.head()

In [ ]:
df_netflix = df_netflix.applymap(lambda x: x.lower() if type(x) == str else x)
df_netflix.head()

5- El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [ ]:
df_amazon_prime['duration_int'] = df_amazon_prime['duration'].str.extract('(\d+)').astype(int)
df_amazon_prime['duration_type'] = df_amazon_prime['duration'].str.extract('(\D+)')
df_amazon_prime['duration_type']= df_amazon_prime['duration_type'].str.strip()
df_amazon_prime.head()

In [ ]:
df_disney_plus['duration_int'] = df_disney_plus['duration'].str.extract('(\d+)').astype(int)
df_disney_plus['duration_type'] = df_disney_plus['duration'].str.extract('(\D+)')
df_disney_plus['duration_type']= df_disney_plus['duration_type'].str.strip()
df_disney_plus.head()

In [ ]:
df_hulu['duration_int'] = df_hulu['duration'].str.extract('(\d+)').fillna(0).astype(int)
df_hulu['duration_type'] = df_hulu['duration'].str.extract('(\D+)').fillna('')
df_hulu['duration_type']= df_hulu['duration_type'].str.strip()
df_hulu.head()

In [ ]:
df_netflix['duration_int'] = df_netflix['duration'].str.extract('(\d+)').fillna(0).astype(int)
df_netflix['duration_type'] = df_netflix['duration'].str.extract('(\D+)').fillna('')
df_netflix['duration_type']= df_netflix['duration_type'].str.strip()
df_netflix.head()

**DESARROLLO API**

1- Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [ ]:
def get_max_duration(year, platform, duration_type):
    # diccionario de nombres de archivo CSV para cada plataforma
    dataframe = {
        'Netflix': df_netflix,
        'Amazon': df_amazon_prime,
        'Disney': df_disney_plus,
        'Hulu': df_hulu
    }

    selected_df = dataframe[platform]
    
    selected_movies = selected_df.loc[(selected_df["type"] == "movie") & (selected_df["release_year"] == year) & (selected_df["duration_type"] == duration_type)]
    
    max_duration_movie = selected_movies.loc[selected_movies["duration_int"].idxmax()]

    return max_duration_movie

get_max_duration(2018,'Hulu','min')

2- Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

In [ ]:
df_ratings = pd.concat([df_rating1, df_rating2, df_rating3, df_rating4,df_rating5, df_rating6,df_rating7, df_rating8], ignore_index=True)

In [114]:
df_rating1

         userId  rating  timestamp movieId
0             1     1.0 2015-03-09   as680
1             1     4.5 2015-03-09  ns2186
2             1     5.0 2015-03-09  hs2381
3             1     5.0 2015-03-09  ns3663
4             1     5.0 2015-03-09  as9500
...         ...     ...        ...     ...
1499995   15424     4.0 2013-06-02  as8698
1499996   15424     3.5 2013-05-26  as3663
1499997   15424     3.0 2013-06-29  as1325
1499998   15424     3.5 2013-06-29  ns4446
1499999   15424     3.5 2013-05-26  hs2569

[1500000 rows x 4 columns]

In [113]:
df_amazon_prime

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,as9664,s9664,movie,pride of the bowery,joseph h. lewis,"leo gorcey, bobby jordan",NaN,NaT,1940,7+,60 min,comedy,new york city street principles get an east si...,60,min
9664,as9665,s9665,tv show,planet patrol,NaN,"dick vosburgh, ronnie stevens, libby morris, m...",NaN,NaT,2018,13+,4 seasons,tv shows,"this is earth, 2100ad - and these are the adve...",4,seasons
9665,as9666,s9666,movie,outpost,steve barker,"ray stevenson, julian wadham, richard brake, m...",NaN,NaT,2008,r,90 min,action,"in war-torn eastern europe, a world-weary grou...",90,min
9666,as9667,s9667,tv show,maradona: blessed dream,NaN,"esteban recagno, ezequiel stremiz, luciano vit...",NaN,NaT,2021,tv-ma,1 season,"drama, sports","the series tells the story of diego maradona, ...",1,season
9667,as9668,s9668,movie,harry brown,daniel barber,"michael caine, emily mortimer, joseph gilgun, ...",NaN,NaT,2010,r,103 min,"action, drama, suspense","harry brown, starring two-time academy award w...",103,min

In [ ]:
/get_count/{plat}/{keyword}' API