**TRANSFORMACIONES**

Importamos las librerias que vamos a necesitar

In [2]:
import pandas as pd

1- Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

Primero cargamos los archivos .cvs como dataframe con pandas

In [3]:
df_amazon_prime = pd.read_csv('../dataset/amazon_prime_titles.csv',delimiter = ',',encoding = "utf-8")
#df_amazon_prime.head()

In [4]:
df_disney_plus = pd.read_csv('../dataset/disney_plus_titles.csv',delimiter= ',', encoding = "utf-8" )
#df_disney_plus.head(10)

In [5]:
df_hulu = pd.read_csv('../dataset/hulu_titles.csv',delimiter= ',', encoding = "utf-8" )
#df_hulu.head(10)

In [6]:
df_netflix = pd.read_csv('../dataset/netflix_titles.csv',delimiter= ',', encoding = "utf-8" )
#df_netflix.head(10)

In [7]:
df_rating1 = pd.read_csv('../dataset/rating/1.csv',delimiter = ',',encoding = "utf-8")
#df_rating1.head(10)

In [8]:
df_rating2 = pd.read_csv('../dataset/rating/2.csv',delimiter = ',',encoding = "utf-8")
#df_rating2.head(10)

In [9]:
df_rating3 = pd.read_csv('../dataset/rating/3.csv',delimiter = ',',encoding = "utf-8")
#df_rating3.head(10)

In [10]:
df_rating4 = pd.read_csv('../dataset/rating/4.csv',delimiter = ',',encoding = "utf-8")
#df_rating4.head(10)

In [11]:
df_rating5 = pd.read_csv('../dataset/rating/5.csv',delimiter = ',',encoding = "utf-8")
#df_rating5.head(10)

In [12]:
df_rating6 = pd.read_csv('../dataset/rating/6.csv',delimiter = ',',encoding = "utf-8")
#df_rating6.head(10)

In [13]:
df_rating7 = pd.read_csv('../dataset/rating/7.csv',delimiter = ',',encoding = "utf-8")
#df_rating7.head(10)

In [14]:
df_rating8 = pd.read_csv('../dataset/rating/8.csv',delimiter = ',',encoding = "utf-8")
#df_rating8.head(10)

Generamos el campo id de cada dataframe de plataforma

In [15]:
df_amazon_prime = df_amazon_prime.assign(id='a' + df_amazon_prime['show_id'].astype(str))
#df_amazon_prime.head()

In [16]:
df_disney_plus = df_disney_plus.assign(id='d' + df_disney_plus['show_id'].astype(str))
#df_disney_plus.head()

In [17]:
df_hulu = df_hulu.assign(id='h' + df_hulu['show_id'].astype(str))
#df_hulu.head()

In [18]:
df_netflix = df_netflix.assign(id='n' + df_netflix['show_id'].astype(str))
#df_netflix.head()

2- Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

In [19]:
df_amazon_prime.fillna(value={'rating': 'G'}, inplace=True)

In [20]:
df_disney_plus.fillna(value={'rating': 'G'}, inplace=True)

In [21]:
df_hulu.fillna(value={'rating': 'G'}, inplace=True)

In [22]:
df_netflix.fillna(value={'rating': 'G'}, inplace=True)

In [ ]:
# Verificacion de nulos en la columna 'rating'
print(df_amazon_prime['rating'].isnull().sum())
print(df_disney_plus['rating'].isnull().sum())
print(df_hulu['rating'].isnull().sum())
print(df_netflix['rating'].isnull().sum())

3- De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [23]:
# se seleciona la columna del dataframe y con la funcion to_datetime cambiamos el formato
# luego convertimos la columna a tipo DATATIME
df_amazon_prime['date_added'] = pd.to_datetime(df_amazon_prime['date_added'].astype(str), format='%B %d, %Y')

In [25]:
df_disney_plus['date_added'] = pd.to_datetime(df_disney_plus['date_added'].astype(str), format='%B %d, %Y')

In [26]:
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'].astype(str), format='%B %d, %Y')

In [27]:
# antes de convertir al formato pedido se elimino el espacio en blanco de cada texto de la columna 'date_added' porque en este dataframe no dejaba realizar la conversion
df_netflix['date_added'] = df_netflix['date_added'].str.lstrip() 
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'].astype(str), format='%B %d, %Y')
#df_netflix.head()

In [28]:
df_rating1['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating1['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating1.head()

In [29]:
df_rating2['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating2['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating2.head()

In [ ]:
df_rating3['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating3['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
df_rating3.head()

In [ ]:
df_rating4['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating4['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
df_rating4.head()

In [32]:
df_rating5['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating5['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating5.head()

In [33]:
df_rating6['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating6['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating6.head()

In [34]:
df_rating7['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating7['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating7.head()

In [35]:
df_rating8['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating8['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating8.head()

In [ ]:
#Verificacion de cambio de formato
df_amazon_prime.head()
#df_disney_plus.head()
#df_hulu.head()
#df_netflix.head()

4- Los campos de texto deberán estar en **minúsculas**, sin excepciones

Se recorrera todo el dataframe y donde haya un string se pasaran todas a minusculas

In [40]:
df_amazon_prime = df_amazon_prime.applymap(lambda x: x.lower() if type(x) == str else x)
#df_amazon_prime.head()

In [43]:
df_disney_plus = df_disney_plus.applymap(lambda x: x.lower() if type(x) == str else x)
#df_disney_plus.head()

In [42]:
df_hulu = df_hulu.applymap(lambda x: x.lower() if type(x) == str else x)
#df_hulu.head()

In [44]:
df_netflix = df_netflix.applymap(lambda x: x.lower() if type(x) == str else x)
#df_netflix.head()

5- El campo ***duration*** debe convierte en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [ ]:
df_amazon_prime['duration_int'] = df_amazon_prime['duration'].str.extract('(\d+)').astype(int)
df_amazon_prime['duration_type'] = df_amazon_prime['duration'].str.extract('([a-zA-Z]+)').replace('seasons', 'season')
#df_amazon_prime.head(200)

In [53]:
df_disney_plus['duration_int'] = df_disney_plus['duration'].str.extract('(\d+)').astype(int)
df_disney_plus['duration_type'] = df_disney_plus['duration'].str.extract('([a-zA-Z]+)').replace('seasons', 'season')
#df_disney_plus.head()

In [54]:
df_hulu['duration_int'] = df_hulu['duration'].str.extract('(\d+)').fillna(0).astype(int)
df_hulu['duration_type'] = df_hulu['duration'].str.extract('([a-zA-Z]+)').replace('seasons', 'season')
#df_hulu.head()

In [55]:
df_netflix['duration_int'] = df_netflix['duration'].str.extract('(\d+)').fillna(0).astype(int)
df_netflix['duration_type'] = df_netflix['duration'].str.extract('([a-zA-Z]+)').replace('seasons', 'season')
#df_netflix.head()

Para no tener datos repetidos se elimino la columna de **'duration'** de cada dataframe

In [57]:
df_amazon_prime.drop('duration', axis=1, inplace=True)
df_disney_plus.drop('duration',axis=1, inplace=True)
df_hulu.drop('duration',axis=1, inplace=True)
df_netflix.drop('duration',axis=1, inplace=True)

Se pasa a un csv con las trasformaciones realizadas.
Se sigue trabajando con las plataformas individualmente para agilizar la carga y busqueda de datos

In [59]:
df_amazon_prime.to_csv('../dataset_ETL/amazon_prime_ETL.csv',index=False)
df_disney_plus.to_csv('../dataset_ETL/disney_plus_ETL.csv', index=False)
df_hulu.to_csv('../dataset_ETL/hulu_ETL.csv', index=False)
df_netflix.to_csv('../dataset_ETL/netflix_ETL.csv',index=False)

Se unen los dataset de rating en un solo csv

In [ ]:
df_ratings = pd.concat([df_rating1, df_rating2, df_rating3, df_rating4,df_rating5, df_rating6,df_rating7, df_rating8])
df_ratings.head()

**DESARROLLO API**

1- Funcion que calcula la Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [63]:
# diccionario de nombres de archivo CSV para cada plataforma para aglizar la busqueda de valores
dataframe = {
        'Netflix': df_netflix,
        'Amazon': df_amazon_prime,
        'disney': df_disney_plus,
        'Hulu': df_hulu
    }

In [ ]:
def get_max_duration(year, platform, duration_type):

    if platform not in dataframe:
        return f'La plataforma "{platform}" no es válida. Las plataformas válidas son: Netflix, Disney, Amazon, Hulu.'
    
    #selecciona el csv segun la plataforma ingresada
    selected_df = dataframe[platform]
    
    if duration_type not in ['min', 'season']:
        return f'Por favor ingrese alguno de los siguientes valores correctos\n duration_type: min o season'
    
    #se filtra el dataframe segun el año y tipo de duracion
    selected_movies = selected_df.loc[(selected_df["release_year"] == year) & (selected_df["duration_type"] == duration_type)]

    if selected_movies.empty:
        return f"No hay resultados para el año {year}. Intente con otro año."
    
    #se selecciona la pelicula, serie o tv_show con mayor duracion        
    max_duration_movie = selected_movies.loc[selected_movies["duration_int"].idxmax()]['title']

    return f'Titulo: {max_duration_movie}'

get_max_duration(2020,'disney','min')

Titulo:  dory's reef cam

2- Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

Para esta función es necesario crear una columna 'scored' en el dataframe df_ratings y luego relacionar ese dataframe con lo csv de plataforma. Para esta ocasión se uniran los csv de las plataformas.

In [ ]:
df_ratings.head(100)

In [ ]:
import pandasql as sqldf
def get_score_count(plataforma: str, puntaje: int, year: int):
    
    #Defino las plataformas:
    if plataforma == "amazon":
        plat = "a%"
    elif plataforma == "disney":
        plat = "d%"
    elif plataforma == "hulu":
        plat = "h%"
    elif plataforma == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. Recuerde escribir todo en minúsculas.")

    #QUERY:
    query = f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie' AND rating_x > {puntaje} AND release_year == {year}"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf.run(query)

3- Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [ ]:
def get_count_platform(platform):
    
    if platform not in dataframe:
        return print(f'La plataforma "{platform}" no es válida. Las plataformas válidas son: Netflix, Disney, Amazon, Hulu.')
    
    selected_df = dataframe[platform]
    movie = selected_df[selected_df['type'] == 'movie']
    
    return movie.shape[0]
get_count_platform('Netflix')

6131

4- Funcion que devuelve el Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

Ls siguiente funcion muestra el primer actor que mas se repide en la columna **'cast'**, y si hay mas de un actor devuelve el primero que aparece en la lista donde guarda los actores que mas se repiten

In [90]:
def get_actor(platform, year):
    if platform not in dataframe:
        return f'La plataforma "{platform}" no es válida. Las plataformas válidas son: Netflix, Disney, Amazon, Hulu.'
    
    selected_df = dataframe[platform]
    
    # Seleccionar solo los registros del año especificado
    df_year = selected_df[selected_df['release_year'] == year]
    
    if df_year.empty:
        print(f"No se encontraron resultados para el año {year}. Intente con otro año.")
        return None
    
    # Dividir los nombres de los actores en una lista y contar las ocurrencias de cada uno
    actor_counts = df_year['cast'].str.split(',').explode().str.strip().value_counts()
    
    # Devolver el nombre del actor más frecuente
    most_frequent_actor = actor_counts.index[0]

    return  f"Actor: {most_frequent_actor}, Cantidad de veces repetida: {actor_counts[most_frequent_actor]}"
get_actor('Amazon',2020)

'Actor: anushka shetty, Cantidad de veces repetida: 7'