**TRANSFORMACIONES**

In [155]:
import pandas as pd

1- Generar campo **`id`**: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = **`as123`**)

Primero cargamos los archivos .cvs como dataframe con pandas

In [249]:
df_amazon_prime = pd.read_csv('./dataset/amazon_prime_titles.csv',delimiter = ',',encoding = "utf-8")
#df_amazon_prime.head()

In [250]:
df_disney_plus = pd.read_csv('./dataset/disney_plus_titles.csv',delimiter= ',', encoding = "utf-8" )
#df_disney_plus.head(10)

In [252]:
df_hulu = pd.read_csv('./dataset/hulu_titles.csv',delimiter= ',', encoding = "utf-8" )
#df_hulu.head(10)

In [253]:
df_netflix = pd.read_csv('./dataset/netflix_titles.csv',delimiter= ',', encoding = "utf-8" )
#df_netflix.head(10)

In [254]:
df_rating1 = pd.read_csv('./dataset/rating/1.csv',delimiter = ',',encoding = "utf-8")
#df_rating1.head(10)

In [255]:
df_rating2 = pd.read_csv('./dataset/rating/2.csv',delimiter = ',',encoding = "utf-8")
#df_rating2.head(10)

In [256]:
df_rating3 = pd.read_csv('./dataset/rating/3.csv',delimiter = ',',encoding = "utf-8")
#df_rating3.head(10)

In [257]:
df_rating4 = pd.read_csv('./dataset/rating/4.csv',delimiter = ',',encoding = "utf-8")
#df_rating4.head(10)

In [258]:
df_rating5 = pd.read_csv('./dataset/rating/5.csv',delimiter = ',',encoding = "utf-8")
#df_rating5.head(10)

In [259]:
df_rating6 = pd.read_csv('./dataset/rating/6.csv',delimiter = ',',encoding = "utf-8")
#df_rating6.head(10)

In [260]:
df_rating7 = pd.read_csv('./dataset/rating/7.csv',delimiter = ',',encoding = "utf-8")
#df_rating7.head(10)

In [261]:
df_rating8 = pd.read_csv('./dataset/rating/8.csv',delimiter = ',',encoding = "utf-8")
#df_rating8.head(10)

Generamos el campo id de cada dataframe de plataforma

In [262]:
df_amazon_prime = df_amazon_prime.assign(id='a' + df_amazon_prime['show_id'].astype(str))
#df_amazon_prime.head()

In [263]:
df_disney_plus = df_disney_plus.assign(id='d' + df_disney_plus['show_id'].astype(str))
#df_disney_plus.head()

In [264]:
df_hulu = df_hulu.assign(id='h' + df_hulu['show_id'].astype(str))
#df_hulu.head()

In [265]:
df_netflix = df_netflix.assign(id='n' + df_netflix['show_id'].astype(str))
#df_netflix.head()

2- Los valores nulos del campo rating deberán reemplazarse por el string “**`G`**” (corresponde al maturity rating: “general for all audiences”

In [266]:
df_amazon_prime.fillna(value={'rating': 'G'}, inplace=True)

In [267]:
df_disney_plus.fillna(value={'rating': 'G'}, inplace=True)

In [268]:
df_hulu.fillna(value={'rating': 'G'}, inplace=True)

In [269]:
df_netflix.fillna(value={'rating': 'G'}, inplace=True)

In [176]:
# Verificacion de nulos
df_amazon_prime['rating'].isnull().sum()
df_disney_plus['rating'].isnull().sum()
df_hulu['rating'].isnull().sum()
df_netflix['rating'].isnull().sum()

0

3- De haber fechas, deberán tener el formato **`AAAA-mm-dd`**

In [270]:
# se seleciona la columna del dataframe y con la funcion to_datetime cambiamos el formato
# dentro del to_datetime()
df_amazon_prime['date_added'] = pd.to_datetime(df_amazon_prime['date_added'].astype(str), format='%B %d, %Y')

In [271]:
df_disney_plus['date_added'] = pd.to_datetime(df_disney_plus['date_added'].astype(str), format='%B %d, %Y')

In [272]:
df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'].astype(str), format='%B %d, %Y')

In [273]:
# antes de convertir al formato pedido se elimino el espacio en blanco de cada texto de la columna 'date_added'
df_netflix['date_added'] = df_netflix['date_added'].str.lstrip() 
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'].astype(str), format='%B %d, %Y')
#df_netflix.head()

In [ ]:
df_rating1['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating1['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating1.head()

In [276]:
df_rating2['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating2['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating2.head()

In [ ]:
df_rating3['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating3['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
df_rating3.head()

In [ ]:
df_rating4['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating4['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
df_rating4.head()

In [279]:
df_rating5['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating5['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating5.head()

In [280]:
df_rating6['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating6['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating6.head()

In [281]:
df_rating7['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating7['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating7.head()

In [282]:
df_rating8['timestamp'] = pd.to_datetime(pd.to_datetime(df_rating8['timestamp'],unit='s').dt.strftime('%Y-%m-%d'))
#df_rating8.head()

In [ ]:
#Verificacion de cambio de formato
df_amazon_prime.head()
#df_disney_plus.head()
#df_hulu.head()
#df_netflix.head()

4- Los campos de texto deberán estar en **minúsculas**, sin excepciones

In [283]:
df_amazon_prime = df_amazon_prime.applymap(lambda x: x.lower() if type(x) == str else x)
#df_amazon_prime.head()

In [284]:
df_disney_plus = df_disney_plus.applymap(lambda x: x.lower() if type(x) == str else x)
#df_disney_plus.head()

In [285]:
df_hulu = df_hulu.applymap(lambda x: x.lower() if type(x) == str else x)
#df_hulu.head()

In [286]:
df_netflix = df_netflix.applymap(lambda x: x.lower() if type(x) == str else x)
#df_netflix.head()

5- El campo ***duration*** debe convertirse en dos campos: **`duration_int`** y **`duration_type`**. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [ ]:
df_amazon_prime['duration_int'] = df_amazon_prime['duration'].str.extract('(\d+)').astype(int)
df_amazon_prime['duration_type'] = df_amazon_prime['duration'].str.extract('([a-zA-Z]+)').replace('seasons', 'season')
df_amazon_prime.head(200)

In [288]:
df_disney_plus['duration_int'] = df_disney_plus['duration'].str.extract('(\d+)').astype(int)
df_disney_plus['duration_type'] = df_disney_plus['duration'].str.extract('([a-zA-Z]+)').replace('seasons', 'season')
#df_disney_plus.head()

In [289]:
df_hulu['duration_int'] = df_hulu['duration'].str.extract('(\d+)').fillna(0).astype(int)
df_hulu['duration_type'] = df_hulu['duration'].str.extract('([a-zA-Z]+)').replace('seasons', 'season')
#df_hulu.head()

In [290]:
df_netflix['duration_int'] = df_netflix['duration'].str.extract('(\d+)').fillna(0).astype(int)
df_netflix['duration_type'] = df_netflix['duration'].str.extract('([a-zA-Z]+)').replace('seasons', 'season')
#df_netflix.head()

Se pasa a un cvs con las trasformaciones realizadas

In [293]:
#df_amazon_prime.to_csv('./dataset_ETL/amazon_prime_ETL.csv',index=False)
df_disney_plus.to_csv('./dataset_ETL/disney_plus_ETL.csv', index=False)
df_hulu.to_csv('./dataset_ETL/hulu_ETL.csv', index=False)
df_netflix.to_csv('./dataset_ETL/netflix_ETL.csv',index=False)

**DESARROLLO API**

1- Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [296]:
def get_max_duration(year, platform, duration_type):
    # diccionario de nombres de archivo CSV para cada plataforma
    dataframe = {
        'Netflix': df_netflix,
        'Amazon': df_amazon_prime,
        'disney': df_disney_plus,
        'Hulu': df_hulu
    }

    if platform not in dataframe:
        return print(f'La plataforma "{platform}" no es válida. Las plataformas válidas son: Netflix, Disney, Amazon, Hulu.')
    
    selected_df = dataframe[platform]
    
    if duration_type not in ['min', 'season']:
        return print(f'Por favor ingrese alguno de los siguientes valores correctos\n duration_type: min o season')
    
    selected_movies = selected_df.loc[(selected_df["release_year"] == year) & (selected_df["duration_type"] == duration_type)]

    if selected_movies.empty:
        return print(f"No hay resultados para el año {year}. Intente con otro año.")
            
    max_duration_movie = selected_movies.loc[selected_movies["duration_int"].idxmax()]['title']

    return print('Titulo: ',max_duration_movie)

get_max_duration(2020,'disney','min')

Titulo:  dory's reef cam

2- Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

In [ ]:
df_ratings = pd.concat([df_rating1, df_rating2, df_rating3, df_rating4,df_rating5, df_rating6,df_rating7, df_rating8], ignore_index=True)

In [ ]:
df_platforms = pd.concat([df_amazon_prime, df_disney_plus,df_hulu, df_netflix], ignore_index=True)
df_platforms

In [ ]:
import pandasql as sqldf
def get_score_count(plataforma: str, puntaje: int, year: int):
    
    #Defino las plataformas:
    if plataforma == "amazon":
        plat = "a%"
    elif plataforma == "disney":
        plat = "d%"
    elif plataforma == "hulu":
        plat = "h%"
    elif plataforma == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. Recuerde escribir todo en minúsculas.")

    #QUERY:
    query = f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie' AND rating_x > {puntaje} AND release_year == {year}"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf.run(query)

3- Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [297]:
def get_count_platform(platform):
    
    dataframe = {
        'Netflix': df_netflix,
        'Amazon': df_amazon_prime,
        'Disney': df_disney_plus,
        'Hulu': df_hulu
    }
    
    if platform not in dataframe:
        return print(f'La plataforma "{platform}" no es válida. Las plataformas válidas son: Netflix, Disney, Amazon, Hulu.')
    
    selected_df = dataframe[platform]
    movie = selected_df[selected_df['type'] == 'movie']
    
    return movie.shape[0]
get_count_platform('Netflix')

6131

4- Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

In [248]:
def get_actor(platform,year):
    dataframe = {
        'Netflix': df_netflix,
        'Amazon': df_amazon_prime,
        'Disney': df_disney_plus,
        'Hulu': df_hulu
    }
    
    if platform not in dataframe:
        return print(f'La plataforma "{platform}" no es válida. Las plataformas válidas son: Netflix, Disney, Amazon, Hulu.')
    
    selected_df = dataframe[platform]
    
    actor = selected_df[selected_df['release_year'] == year]['cast'].explode().tolist()
    
    most_frequent_actor = pd.Series(actor).value_counts().index[0]
    
    return most_frequent_actor

get_actor('Amazon',2020)

'anne-marie newland'

In [298]:
def get_actor(platform, year):
    dataframe = {
        'Netflix': df_netflix,
        'Amazon': df_amazon_prime,
        'Disney': df_disney_plus,
        'Hulu': df_hulu
    }
    selected_df = dataframe[platform]
    
    # Seleccionar solo los registros del año especificado
    df_year = selected_df[selected_df['release_year'] == year]
    
    if df_year.empty:
        print(f"No se encontraron resultados para el año {year}. Intente con otro año.")
        return None
    
    # Dividir los nombres de los actores en una lista y contar las ocurrencias de cada uno
    actor_counts = df_year['cast'].str.split(',').explode().str.strip().value_counts()
    
    # Devolver el nombre del actor más frecuente
    most_frequent_actor = actor_counts.index[0]
    
    return most_frequent_actor
get_actor('Netflix',2020)

'blossom chukwujekwu'

In [ ]:
/get_count/{plat}/{keyword}' API